.git
secretless
vendor
doc/full-demo/myapp/myapp

*.sw[po]

test/junit.output

# Ignore compose file changes
docker-compose.yml

# We don't want Docker cache to break on Jenkinsfile changes
Jenkinsfile
