.env
debug
debug.*
.vscode/
vendor
/doc/godoc
/secretless
/showpw
run
tmp
/bin/**/secretless
/bin/**/summon2
*.retry
doc/**/proxy_tls
doc/**/myapp
!doc/**/src/myapp
test/junit.*

# Remove common editors' swapfiles
*.sw[po]
