# Ignore infrastructure files only used in development and testing
exclude-paths:
- "secretless-broker/test/providers/kubernetessecrets/docker-compose.yml"
- "secretless-broker/test/providers/awssecrets/docker-compose.yml"
- "secretless-broker/test/providers/vault/docker-compose.yml"
- "secretless-broker/test/plugin/docker-compose.yml"
- "secretless-broker/test/connector/ssh/docker-compose.yml"
- "secretless-broker/test/connector/tcp/pg/docker-compose.yml"
- "secretless-broker/test/connector/tcp/mysql/docker-compose.yml"
- "secretless-broker/test/connector/tcp/mssql/mssql-2019/docker-compose.yml"
- "secretless-broker/test/connector/tcp/mssql/docker-compose.yml"
- "secretless-broker/test/connector/tcp/mssql/mssql-2017-cu1/docker-compose.yml"
- "secretless-broker/test/connector/http/generic/docker-compose.yml"
- "secretless-broker/test/connector/http/conjur/docker-compose.yml"
- "secretless-broker/test/connector/http/basicauth/docker-compose.yml"
- "secretless-broker/test/connector/ssh_agent/docker-compose.yml"
- "secretless-broker/test/proxyservice/docker-compose.yml"
- "secretless-broker/test/connector/tcp/mssql/Dockerfile"
- "secretless-broker/bin/juxtaposer/deploy/juxtaposer_deployment_template.yml"
- "secretless-broker/bin/juxtaposer/Dockerfile"
- "secretless-broker/k8s-ci/Dockerfile"
- "secretless-broker/docs/Dockerfile"
- "secretless-broker/docs/docker-compose.yml"
- "secretless-broker/docs/_site/Dockerfile"
- "secretless-broker/examples/connector_templates/template_connector_test/docker-compose.yml"
# Ignore infrastructure files that are for demo purposes and contain disclaimer comments
- "secretless-broker/demos/k8s-demo/etc/quick-start-application.yml"
- "secretless-broker/demos/k8s-demo/etc/quick-start-application-entitlements.yml"
- "secretless-broker/demos/quick-start/test/docker-compose.yml"
- "secretless-broker/demos/k8s-demo/etc/pg.yml"

exclude-queries:
- 965a08d7-ef86-4f14-8792-4a3b2098937e # Apt Get Install Pin Version Not Defined
- 9efb0b2d-89c9-41a3-91ca-dcc0aec911fd # Image Version Not Explicit
- f45ea400-6bbe-4501-9fc7-1c3d75c32067 # Image Version Using 'latest'
- d3499f6d-1651-41bb-a9a7-de925fea487b # Unpinned Package Version in Apk Add
- 22cd11f7-9c6c-4f6e-84c0-02058120b341 # Gem Install Without Version
- b03a748a-542d-44f4-bb86-9199ab4fd2d5 # Healthcheck Instruction Missing
- 9bae49be-0aa3-4de5-bab2-4c3a069e40cd # Update Instruction Alone (false positives when upgrading all packages)
