p{
	font-family: "Roboto",sans-serif;
    font-size: 1em;
    line-height: 1.5;
}
li{
	font-family: "Roboto",sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin-left: 1em;
}
a {
    text-decoration: none;
    display: inline-block;
}
hr{
	position: relative;
}
button:focus{
	outline: 0;
}
h1{
	font-size: 1.1em;
}
.button.active{
	box-shadow: inset 0 0.125em 0.313em 0 rgba(0,0,0,0.16), inset 0 0.125em 0.250em 0 rgba(0,0,0,0.12);
	background-color: rgba(0,0,0,0.001);
}
pre{
	background-color: white;
}
code{
	margin: 0;
}
#cybr-nav{
   width: 100%;
   margin-bottom: 0;
   height: 5em;
   background: #383950;
}
.navbar-list li{
	font-size: 1em;
	text-transform: uppercase;
}
.navbar-list a{
	color: #fff;
	padding: 1em 1em;
}
.navbar-list a:hover{
	text-decoration: none;
}
.sidenav-item{
	list-style-type: none;
	margin-left: -1em;
	margin-bottom: 0;
    margin-top: 1em;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 1.3em;
	color: #404040;
}

.sidenav-subitem {
	list-style-type: none;
	margin-left: -3em;
	font-family: "Source Sans Pro",sans-serif;
	font-size: .8em;
	padding: 0.5em 0em;
}
.sidenav-item a{
	color: black;

}
.sidenav-item:hover a:hover{
	 text-decoration: none;
}
.side-nav{
	background-color: #f8f8f8;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-height: 28em;
	width: 16em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.introduction-heading {
	font-size: 1.5em;
}
#frame{
	margin-bottom: 0;
	height: 33.5em;
	background: #383950;
}
.card-heading{
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	letter-spacing: .1em;
}

.broker {
	font-family: 'Open Sans', sans-serif;
}
.navbar-list > ul{
	display: flex;
	list-style: none;
	justify-content: flex-end;
	letter-spacing: 0.2rem;
}
.navbar-list > ul > li{
	margin: 1em;
}
.navbar .default{
	margin-bottom: 0;
}
.button{
	text-transform: uppercase;
	margin: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    padding: .5em 3.5em .5em 3.5em;
    background: #FFFFFF;
    color: #7b8A8E;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .1em;
    transition: .2s ease-out;
    box-shadow: 0 0.125em 0.625em 0 rgba(0,0,0,0.12),0 0.125em 0.313em 0 rgba(0,0,0,0.16);
}
.button:hover p{
	color: #35a6a9;
}
.button:hover{
	text-decoration: none;
}
.btnrow{
	text-align: center;
}
.btn-arrow-down{
	font-size: 1.5em;
	margin: 0.25em auto 0;
	transition: all .3s ease-out;
}
.btn-arrow{
    text-decoration: none;
	border-radius: 50%;
	height: 3em;
    width: 3em;
    margin: -5.5em -3em;
    position: absolute;
    top: 144%;
    left: 54%;
    border-radius: 50%;
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.16), 0 0.5em 4em 0 rgba(0,0,0,0.12);
    transition: all .3s;

}
.btn-arrow:hover{
    text-decoration: none;
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.16), 0 .5em 4em 0 rgba(0,0,0,0.3);

}
.jumbotron-img{
	width: 20%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#jumbotron-text {
	font-size: 1.2em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1em;
	color: #fff;
}
#jumbotron-heading {
	font-size: 3em;
	text-align: center;
    letter-spacing: .1em;
	color: #fff;

}
.jumbotron-sub{
	display: flex;
	justify-content: center;
	flex-direction: column;
    height: 6em;
    background-color: #f8f8f8;
}
.jumbotron-sub p{
	color: #383950;
	text-align: center;
}
.fab{
	font-size: 1.1em;
	margin-right: .8em;
}
.far{
	font-size: 1.1em;
	margin-right: .8em;
}
.round {
    border-radius: 50%;
}
.inner p {
	margin-left: 1em;
}
.inner-text-description{
	font-size: 1em;
}
.inner-text{
	margin-left: 0;
	letter-spacing: .1em;
    font-size: 1.2em;
}
.btn-arrow-right{
	font-size: 1.3em;
}

.introduction-img{
	width: 22em;
	margin: 0 auto;
}
.arch-respons-box{
	margin-bottom: 3em;
	display: flex;
	align-items: center;
	justify-content: center
}
.arch-right{
	margin-left: 2em;
}
.arch{
	margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.arch-img{
	width: 26em;
}
.secretless-img{
	width: 29em;
}
.arch-list > li{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1em;
}
.card-subheading{
	font-style: italic;
	font-size: 1.2em;
	font-weight: bold;
}
.center-block{
    float: none;
    display: block;
    margin: 0 auto;
    top: 1em;
    background-color: transparent;
}
.about-subitem{
	padding: .2em .2em .2em .2em;
}
.about-subitem .inner{
    min-height: 20em;
    padding: 2em;
    box-shadow: 0 .5em 1.5em rgba(0,0,0,.1);
    border: 0.05em solid #e2e2e2;
    margin: 0 1em 1em;
    transition: .5s ease;
    display: flex;
	justify-content: center;
	flex-direction: column;
}
.inner:hover{
	transform: scale(1.025);
    box-shadow: .5em .5em 2em rgba(0,.1,0,.2);

}
.inner i{
	padding-top: .1em;
    transition: .5s ease;
}

.inner:hover i{
	transform: translateX(.5em);
}

.in-line-frame{
	display: flex;
}
.docs{
	width: 1em;
	margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.documentation-content{
	padding-bottom: 1em;
	margin-left: 3em;
	width: 46em;
}
.documentation{
	display: flex;
	max-width: 85%;
    margin: 0 auto;
}
.about{
	width: 1em;
	margin-left: auto;
    margin-right: auto;
    width:110%;
}
.guides{
	width: 1em;
	margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.references{
	width: 1em;
	margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.faq{
	width: 1em;
	margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.introduction{
    margin: 0 auto;
    width: 60%;
}
.card{
	padding-top: 1em;
	padding-bottom: 1em;
}
.card-features{
	padding-top: 1.5em;
}
.docs-heading{
	color: #7b8A8E;
	font-size: 2em;
}
.introduction img{
	width: 18em;
}
.container .container-introduction {
	width: 100%;
	position:relative;
	left:0;
	right:0;
}
.container-fluid{
	background-color: #f8f8f8;
}
.tab-content{
	display: none;
}
footer{
	background-color: #4e4f4f;
	padding: 3em 0 3em 0;
}
.container .container-footer {
	width: 100%;
	position:relative;
	left:0;
	right:0;
}
.left-links p {
	font-size: .8em;
	letter-spacing: .050em;
}
footer .left-links{
	text-align: center;
	color: white;
}
footer .right-links p{
	font-weight: 200;
    padding: .5em 0;
    letter-spacing: .050em;
    line-height: 2em;
	color: white;
}
footer .right-links li{
	font-weight: 200;
    font-size: .9em;
    padding: .5em 0;
    letter-spacing: .1em;
	color: white;
	list-style-type: none;
}
.cybr-logo-footer{
	width: 17em;
	margin: 1em;
}
.footer-resource a {
	color: white;
	font-size: 1.1em;
}
.footer-resource a:hover {
	text-decoration: none;
}

.footer-title {
	font-size: 1.3em;
}
