// ****************
// Blog
// ****************

.posts {
  padding: 0;
  margin: 4rem 0;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: grid;
  list-style-type: none;

  a {
    color: #333;
  }
}

.post {
  background-color: #f2f3f5;
  padding: 3rem;
  border-radius: $border-radius;
  transition: all 0.4s;

  h2 {
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: 800;
  }

  &:hover {
    text-decoration: none;
    background-color: darken(#EDF2F6,10);
  }
}

.post-list-thumb {
  margin-bottom: 3rem;
  width: 100%;
}

.post-image {
  margin-bottom: 3rem;
  width: 100%;
}

.post-list-thumb {
  margin-bottom: 3rem;
  width: 100%;
}

.post-image {
  margin-bottom: 3rem;
  width: 100%;
}

.post-meta {
  color: #999;
}

h1.post-title {
  font-size: 4rem;
}
