// ***********************
// Buttons
// ***********************
.button.active {
	box-shadow: inset 0 .2rem .5rem 0 rgba(0,0,0,0.16), inset 0 .2rem .1rem 0 rgba(0,0,0,0.12);
	background-color: rgba(0,0,0,0.001);
}
.button {
	text-transform: uppercase;
	margin: 3rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.6rem;
	padding: 1rem 3rem 1rem 3rem;
	border-radius: .6rem;
	display: inline-block;
	letter-spacing: .1rem;
	transition: .2s ease-out;
	box-shadow: 0 .2rem .5rem 0 rgba(0,0,0,0.16), 0 .2rem .10rem 0 rgba(0,0,0,0.12);
}
.button:hover p {
	color: #35a6a9;
}
.button:hover {
	text-decoration: none;
}
.btnrow {
	display: flex;
	justify-content: center;
}
.btn-arrow-right {
	font-size: 2rem;
	margin-top: .1rem;
}
.left-btn {
	background-color: #4d8fcc;
	color: white;
}
.left-btn:hover {
	color: white;
}
.right-btn {
	background-color: #fff;
	color: #4d8fcc;
}