// ***********************
// Default values
// ***********************
html { 
	font-size: 62.5%; 
	font-family: "Open Sans",sans-serif;
	color: $sless-text;
}
body {
	font-family: "Open Sans",sans-serif;
	color: $sless-text;
}
p {
	font-size: 1.5rem;
	line-height: 1.5;
}
li {
	font-size: 1.5rem;
	line-height: 1.5;
}
code {
	margin-left: 2.5rem;
}
a {
	text-decoration: none;
	display: inline-block;
}
hr {
	position: relative;
}
button:focus {
	outline: 0;
}
pre {
	background-color: white;
}
code {
	margin: 0;
}

h1 {
	color: $sless-blue;
	margin-top: 0;
	margin-bottom: 3rem;
	font-weight: 800;
}

h2 {
	color: $sless-blue;
}

h3 {

}

h4 {

}

h5 {

}

#content {
	padding: 4rem 0;
	.documentation-content {
		padding: 0;
	}
}

.row {
	//margin: 0 2rem;
}