// ***********************
// Default values
// ***********************
html { 
	font-size: 62.5%; 
}
p {
	font-family: "Open Sans",sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
}
li {
	font-family: "Open Sans",sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
}
code {
	margin-left: 2.5rem;
}
a {
	text-decoration: none;
	display: inline-block;
}
hr {
	position: relative;
}
button:focus {
	outline: 0;
}
pre {
	background-color: white;
}
code {
	margin: 0;
}