// ***********************
// Default values
// ***********************
html { 
	font-size: 62.5%; 
	font-family: $sless-font-primary;
	color: $sless-text;
}
body {
	font-family: $sless-font-primary;
	color: $sless-text;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
p {
	font-size: 1.5rem;
	line-height: 1.8;
}
li {
	font-size: 1.5rem;
	line-height: 1.8;
}
code {
	margin-left: 2.5rem;
	color: #4d8fcc;
	background-color: darken($sless-light-blue, 02); /*#7ca8d224;*/
}
a {
	text-decoration: none;
	display: inline-block;
}
hr {
	position: relative;
}
button:focus {
	outline: 0;
}
pre {
	background-color: white;
}
code {
	margin: 0;
}

.page-title {
	font-size: 4rem;
	color: $sless-blue;
	font-weight: 800;
	margin-bottom: 3rem;
}

h1 {
	color: $sless-blue;
	margin-top: 0;
	margin-bottom: 3rem;
	font-weight: 800;
	font-size: 4.5rem;
	font-family: $sless-font-secondary;
}

h2 {
	color: $sless-blue;
	font-size: 3rem;
	margin: 3rem 0 1rem 0;
	font-family: $sless-font-secondary;
}

h3 {
	color: $sless-blue;
	font-size: 2rem;
	margin: 3rem 0 1rem 0;
	font-family: $sless-font-secondary;
}

h4 {
	text-transform: uppercase;
	color: $sless-text;
	font-family: $sless-font-secondary;
}

h5 {

}

.container {
	 flex: 1
}

#content {
	padding: 4rem 0;
	.documentation-content {
		padding: 0;
	}
}

.row {
	/*margin: 0 2rem;*/
}
