// ***********************
// Headers
// ***********************
.docs-subheading {
	font-size: 1.8rem;
}
.card-heading {
	font-weight: bold;
	line-height: 4.5rem;
	font-family: $sless-font-primary;
	font-size: 3.3rem;
	letter-spacing: .1rem;
	color: #4d8fcc;
}
.broker {
	font-family: $sless-font-primary;
}
.card-side-heading {
	font-weight: bold;
	font-family: $sless-font-primary;
	font-size: 2rem;
	letter-spacing: .1rem;
}
.card-subheading {
	font-size: 1.7rem;
	font-weight: bold;
}
.jumbotron-sub-header {
	font-weight: bold;
	letter-spacing: .1rem;
	font-size: 2.4rem;
}
.jumbotron-sub p {
	text-align: center;
	color: white;
}
.jumbotron-sub-description {
	width: 53%;
    margin: 0 auto;
    font-weight: 100;
}

// ***********************
// Jumbotron
// ***********************

.s-badge {
	background-color: #4d8fcc9c;
	border-radius: 4px;
	color: #edf2f6c9;
	padding: .5rem 1rem;
	i {
		margin-right: .8rem;
		color: $sless-dark-blue;
	}
	.badge-title {
		font-size: 1.5rem;
		font-weight: 800;
		margin: 0;
		letter-spacing: 1px;
	}
}

.center-block {
	float: none;
	display: block;
	margin: 0 auto;
	top: 1;
	background-color: transparent;
}
#jumbotron-text {
	font-size: 2.0rem;
	text-align: center;
	font-family: $sless-font-primary;
	margin-top: 1rem;
	color: #4d8fcc;
}
#jumbotron-heading {
	font-size: 6.0rem;
	text-align: center;
	letter-spacing: .3rem;
	margin-top: 2.0rem;
	color: #fff;
}
.jumbotron-sub {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(#165d9e, #4d8fcc);
	padding: 2rem 0 3rem 0;
}
.jumbotron {
	margin-bottom: 0;
	margin-top: -7.5rem;
	padding-top: 10.5rem;
	background-image: url("../img/secretless_pattern_dark.png");
	background-repeat: round;
	text-align: center;
	border-radius: 0;
}

// ***********************
// Features
// ***********************
.about {
	width: 1.0rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.about-subitem {
	padding: .5rem .5rem .5rem .5rem;
}
.about-subitem .inner {
	min-height: 31rem;
	padding: 2.5rem;
	box-shadow: 0 .2rem .4rem rgba(0,0,0,.1);
	margin: 0 1.0rem 3.0rem;
	transition: .5s ease;
	background: $sless-light-blue;
}
.inner:hover {
	transform: scale(1.025);
	box-shadow: .3rem .3rem 1.8rem rgba(0,.1,0,.2);
}
.inner i {
	padding-top: .3rem;
	transition: .5s ease;
}
.inner:hover i {
	transform: translateX(1.2rem);
}
.inner p {
	margin-left: 1.5rem;
}
.inner-text-description {
	font-size: 1.4rem;
}
.inner-text {
	margin-left: 0;
	letter-spacing: .1rem;
	font-size: 1.8rem;
	font-weight: 800;
}
.in-line-frame {
	display: flex;
}
.card-features {
	padding-top: 2.5rem;
}

// ***********************
// Architecture
// ***********************
.arch-respons-box {
	margin-bottom: 4.0rem;
	display: flex;
	align-items: center;
	justify-content: center
}
.arch-respons {
	margin: 0 6rem 0 0;
}
.arch {
	margin-left: auto;
	margin-right: auto;
}
.arch-list > li {
	font-family: $sless-font-primary;
	font-size: 1.7rem;
}

// ***********************
// Get Started
// ***********************
.introduction {
	margin: 0 auto;
	//width: 60%;
}
.container-fluid {
}
.tab-content {
	display: none;
}

// ***********************
// Documentation
// ***********************

.docs {
	padding-left: 6rem;
}

.documentation-content {
	padding-bottom: 10.0rem;
	margin-left: 5.0rem;
}
.documentation {
	display: grid;
	margin: 0 auto;
	grid-template-columns: 230px 1fr;
	grid-column-gap: 20px;
}
.faq {
	font-weight: bold;
	font-size: 1.8rem;
	padding: 1.0rem 0rem;
}
#faq-list {
	padding: 1.0rem 1.0rem;
}
#faq-list a{
	padding: .5rem 0rem;
}

// ***********************
// Icons
// ***********************
.fab {
	font-size: 1.5rem;
	margin-right: 1.0rem;
	color: #4d8fcc;
}

.far {
	font-size: 1.5rem;
	margin-right: 1.0rem;
	color: #4d8fcc;
}

// ***********************
// Images
// ***********************
.jumbotron-img {
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.secretless-logo {
	width: 40rem;
	margin-bottom: 2rem;

}

.ui-tabs {
	margin: 3rem 0;
	padding: 0;
}

// ******************
// Tabs
// ******************
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	border: 1px solid $sless-blue;
	background: $sless-blue;
	font-weight: normal;
	color: #fff;
}

.ui-widget-header {
	border: 0;
	border-radius: 0;
	background: none;
	color: $sless-text;
	font-weight: bold;
}

.ui-tabs.ui-tabs-panel {
	background-color: $sless-blue;
}

.ui-widget.ui-widget-content {
	border: 0;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #fffc;
	word-break: break-all;
	word-wrap: break-word;
	background-color: $sless-dark-blue;
	border: 0;
	border-radius: 4px;
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 2rem 4rem 2rem 1.4rem;
	background: $sless-light-blue;
}

.ui-tabs .ui-tabs-nav li {
	margin: 1px .8rem 0 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	background: #fff; 
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 3px solid $sless-light-blue;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: $sless-light-blue;
	color: $sless-blue;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: $sless-blue;
}

.ui-tabs .ui-tabs-nav {
	padding: 0;
}

.ui-tabs a:focus {
	outline: none;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	font-family: $sless-font-secondary;

}