// ***********************
// Footer
// ***********************
.learn-banner {
	background-color: #4d8fcc;
	height: 9.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 3rem;
	margin-bottom: 4rem;
}
.learn-banner p {
	color: white;
	font-size: 2rem;
	font-weight: normal;
}
.learn-banner a {
	color: white;
}
footer {
	min-height: 40rem;
	background-image: url("../img/secretless_pattern_dark.png");
	background-repeat: round;
	padding: 0 0 4rem 0;
	box-shadow: 0rem 50.0rem 0rem 50.0rem #4e4f4f;
}
.container .container-footer {
	width: 100%;
	position:relative;
	left:0;
	right:0;
}
footer .left-links {
	text-align: center;
	color: white;
}
.left-links p {
	font-size: 1.0rem;
	letter-spacing: .08rem;
}
footer .right-links p {
	letter-spacing: .05rem;
	line-height: 3.6rem;
}
footer .right-links li {
	font-weight: 200;
	font-size: 1rem;
	padding: 0.6rem 0;
	letter-spacing: .05rem;
	color: white;
	list-style-type: none;
}
.cybr-logo-footer {
	width: 15.0rem;
	margin: 1.0rem;
}
.footer-resource a {
	color: white;
	font-size: 1.4rem;
}
.footer-resource a:hover {
	text-decoration: none;
}
.footer-title {
	font-size: 1.4rem;
	color: #4D8FCC;
	line-height: 1.9rem;
}