// ***********************
// Footer
// ***********************
footer {
	background-image: url("../img/secretless_pattern_dark.png");
	background-repeat: round;
	padding: 4rem 0 4rem 0;
	box-shadow: 0rem 50.0rem 0rem 50.0rem #4e4f4f;
	ul {
		padding: 0;
	}
}
footer .left-links {
	text-align: center;
	color: white;
}
.left-links p {
	font-size: 1.0rem;
	letter-spacing: .08rem;
}
footer .right-links p {
	letter-spacing: .05rem;
	line-height: 3.6rem;
}
footer .right-links li {
	font-weight: 200;
	font-size: 1rem;
	padding: 0.6rem 0;
	letter-spacing: .05rem;
	color: white;
	list-style-type: none;
}
.cybr-logo-footer {
	width: 15.0rem;
	margin: 1.0rem;
}
.footer-resource a {
	color: white;
	font-size: 1.5rem;
}
.footer-resource a:hover {
	text-decoration: none;
}
.footer-title {
	font-size: 1.5rem;
	color: #4D8FCC;
	line-height: 1.9rem;
	font-weight: 800;
}

@media (max-width: 768px) {
	footer {
		text-align: center;
		.link-col {
			margin: 2rem 0;
		}
	}
	font-weight: 800;
}