// ***********************
// Media tags
// ***********************
@media (max-width: 1200px) {
	.about-subitem .inner {
		min-height: 39rem;
	}
}
@media (max-width: 991px) {
	.about-subitem .inner {
		min-height: 0;
	}
	.arch-respons-box {
		flex-direction: column;
	}
	.cta-banner {
		text-align: center;
	}
	.right-links {
		display: flex;
		width: 100%;
	}
	.footer-resources {
		width: 35%
	}
	.sub-card {
		display: flex;
    	flex-direction: column;
	}
	.about-subitem {
		max-width: 100%;
	}
}
@media (max-width: 768px) {
	.jumbotron-sub{
		height: unset;
		padding: 1.5rem;
	}
}
@media screen and (max-width: 600px) {
  .topnav a {
  	display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .nav-list{
  	background-color: rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
  	position: relative;
  	display: block;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 481px) {
	.secretless-logo {
		width: 25rem;
	}
	.btnrow {
		flex-direction: column;
	}
	.toggle {
		padding-left: 25%;
    padding-right: 25%;
	}
footer .learn-banner p {
		font-size: 1.5rem;
		width: 90%;
	}
	.right-links {
		display: flex;
    	flex-direction: column;
	}
	.footer-resources {
		width: 100%;
	}
}