// ***********************
// Navbar
// this file contains styling for both top navbar and sidenav for docs page
// ***********************

#top-navigation {
	background-image: url("../img/secretless_pattern_dark.png");
	background-repeat: repeat-y;
	border-radius: 0;
	margin: 0;
}

#top-navigation.home {
	background: none;
}

.navbar {
	background-image: url("../img/secretless_pattern_dark.png");
	background-repeat: repeat-y;
	background-size: cover;
	border-radius: 0;
	margin: 0;
	min-height: 6.5rem;
	margin-bottom: 4rem;
}

.icon-bar {
	background-color: $sless-blue;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	margin-top: 4px;
}

.navbar-brand {
	color: #fff;
	min-height: 6.5rem;
	background-image: url("../img/secretless_4c_ko_horiz.svg");
	width: 150px;
	text-indent: -9999px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: center;
}

.navbar-nav li {
	font-size: 1.4rem;
	font-weight: 100;
	height: 6.5rem;
	display: flex;
	align-items: center;
	&.active {
		a {
			color: $sless-blue;
		}
		//border-bottom: 4px solid $sless-blue;
	}
}
.navbar-nav a {
	color: lighten($sless-light-blue, 05);
	padding: .8rem 1rem;
	font-size: 1.5rem;
	font-weight: 500;
	transition: all 0.4s;
	letter-spacing: .5px;
	width: 100%;
	&:hover {
		text-decoration: none;
		color: $sless-blue;
	}
}

.dropdown-menu {
	background-color: $sless-dark-blue;
	min-width: 160px;
	border-radius: 0 0 4px 4px;
	margin: 0;
	border: 0;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	li {
		height: 5rem;
	}
}

// *********************
// Side Navigation

#side-navigation {
	border-radius: 4px;
	justify-content: center;
	flex-direction: column;
	position: sticky;
	margin-bottom: 8rem;
	h3 a{
		color: $sless-blue;
	}
	a {
		color: $sless-text;
		transition: all 0.4s;
		&:hover {
			color: $sless-blue;
			text-decoration: none;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
	}

	.list-link {
		font-family: $sless-font-secondary;
		width: 100%;
		padding: 1rem 0 0 2.5rem ;

	}

	.sidenav-group {
		background-color: lighten($sless-light-blue, 02);
		padding: .5rem 0;
		:nth-child(1) {
			border-top: none;
		 }
		 :last-child {
			margin-bottom: 0;
			padding-bottom: .5rem
		 }
		 h3 {
				padding: 2rem 2.5rem 0 2.5rem;
				color: $sless-blue;
				border-top: 1px solid darken($sless-light-blue, 10);
				font-weight: 800;
				margin-top: 1rem;
				font-size: 1.6rem;
				a:hover {
					color: darken($sless-blue, 20);
				}
		 }
	}

	.sidenav-list {
		font-weight: 800;
		margin: .5rem 0;
		border-top: 1px solid darken($sless-light-blue, 10);
	}
	.sidenav-sublist {
		font-weight: 500;
	}

	.sidenav-sublist {
    padding: 0px 2.5rem;
	}

	.sidenav-subsublist li{
		margin-left: 1rem;
		i {
			margin-right: .5rem;
			font-size: 1.3rem;
			color: $sless-blue;
		}
	}
}

#cybr-nav {
	width: 100%;
	margin-bottom: 0;
	height: 6.5rem;
	background: transparent;
}

.navbar-list li {
	font-size: 1.4rem;
	font-weight: 100;
}
.navbar-list a {
	color: lighten($sless-light-blue, 05);
	padding: .8rem 1rem;
	font-size: 1.5rem;
	font-weight: 500;
	transition: all 0.4s;
	letter-spacing: 1px;
	&:hover {
		text-decoration: none;
		color: $sless-blue;
	}
}

.sidenav-item {
	list-style-type: none;
	margin: 0 0 .2rem 0;
	font-size: 1.5rem;
	font-weight: 800;
}

.fixed-nav {
	position: fixed;
	top: 0;
	margin-right: 10.0rem;
}
.fixed-nav-documentation {
	position: relative;
	left: 21.5rem;
}

.sidenav-item:hover a:hover {
	text-decoration: none;
}

.navbar-list > ul {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	letter-spacing: .2rem;
}

.navbar-list > ul > li {
	margin: 1.0rem;
}

.navbar .default {
	margin-bottom: 0;
}
