// ***********************
// Navbar
// this file contains styling for both top navbar and sidenav for docs page
// ***********************

#top-navigation {
	background-image: url("../img/secretless_pattern_dark.png");
	background-repeat: repeat-y;
	border-radius: 0;
	margin: 0;
}

#top-navigation.home {
	background: none;
}


#cybr-nav {
	width: 100%;
	margin-bottom: 0;
	height: 6.5rem;
	background: transparent;
}
.navbar-list li {
	font-size: 1.4rem;
	font-weight: 100;
}
.navbar-list a {
	color: #fff;
	padding: .8rem 1.6rem;
}
.navbar-list a:hover {
	text-decoration: none;
}
.sidenav-item {
	list-style-type: none;
	margin-left: -1rem;
	margin-bottom: 0;
	margin-top: 2rem;
	font-size: 1.5rem;
	color: #404040;
}
.sidenav-subitem {
	list-style-type: none;
	margin-left: -4rem;
	font-size: 1.5rem;
	padding: .8rem 1.6rem;
}
.fixed-nav {
	position: fixed;
	top: 0;
	margin-right: 10.0rem;
}
.fixed-nav-documentation {
	position: relative;
	left: 21.5rem;
}
.sidenav-item i {
	font-size: 1.0rem;
	margin-right: -1.0rem;
	margin-left: .5rem;
}
.sidenav-item:hover a:hover {
	text-decoration: none;
}
.side-nav {
	box-shadow: 0 .2rem .4rem rgba(0,0,0,.1);
	background-color: #f8f8f8;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-height: 45em;
	width: 21.5rem;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.navbar-list > ul {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	letter-spacing: .2rem;
}
.navbar-list > ul > li {
	margin: 1.0rem;
}
.navbar .default {
	margin-bottom: 0;
}
