// ***********************
// Navbar
// this file contains styling for both top navbar and sidenav for docs page
// ***********************
.sidenav-item {
	list-style-type: none;
	margin-left: -1rem;
	margin-bottom: 0;
	margin-top: 2rem;
	font-size: 1.5rem;
	color: #404040;
}
.sidenav-subitem {
	list-style-type: none;
	margin-left: -4rem;
	font-size: 1.5rem;
	padding: .8rem 1.6rem;
}
.fixed-nav {
	position: fixed;
	top: 0;
	margin-right: 10.0rem;
}
.fixed-nav-documentation {
	position: relative;
	left: 21.5rem;
}
.sidenav-item i {
	font-size: 1.0rem;
	margin-right: -1.0rem;
	margin-left: .5rem;
}
.sidenav-item:hover a:hover {
	text-decoration: none;
}
.side-nav {
	box-shadow: 0 .2rem .4rem rgba(0,0,0,.1);
	background-color: #f8f8f8;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-height: 45em;
	width: 21.5rem;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	z-index: 99999;
}
.nav-bar{
	display: inline;
}
.topnav {
	overflow: hidden;
	background-color: #0E2234;
	display: flex;
    justify-content: flex-end;
}
.nav-list {
	margin: 1rem;
	margin-left: 0;
}
.topnav a {
	font-weight: 400;
	letter-spacing: .2rem;
	margin: 0.8rem;
	color: #f2f2f2;
	padding: .8rem 1.6rem;
	text-decoration: none;
	font-size: 1.4rem;
}
.topnav a:hover {
	color: white;
}
.active {
	background-color: #4CAF50;
	color: white;
}
.topnav .icon {
	display: none;
}
