.page-subtitle {
    display: flex;
    margin: -3rem 0rem 3rem 0rem;
    font-style: italic;
    color: #9396A2;
    font-size: 1.3rem;
    > p {
      padding-right: 3rem;
    }
}

.tutorial-right {
	background-color: #F7F8FA;
	box-shadow: 0px 4px 4px rgba(141, 132, 132, 0.25);
	padding: 1rem 4rem 1rem 4rem;
}

.tutorial-left {
  display: flex;
}

.progressbar {
  counter-reset: step;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.progressbar li {
  list-style: none;
  position: relative;
  float: left;
}

.progressbar li:after{
  content: '';
  position: absolute;
  width: 5.25rem;
  height: .2rem;
  background: #dddd;
  transform: rotate(90deg);
  top: 7rem;
  left: -0.6rem;
  z-index: -1;
}
.progressbar li:last-child:after {
  content: none;
}

.progressbar-bubble {
  fill: #dddd;
}

.progressbar .completed:after {
  background-color: #33699C;
}

.active {
  stroke: #33699C;
  stroke-width: .2rem;
  fill: #ffff;
}

.completed {
  fill: #33699C;
}

.progressbar-elements {
  padding-left: 0;
  .progressbar-element {
    list-style: none;
  }
}
.progressbar-bubble {
  min-height: 7rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.25rem;
}

.progressbar-text {
  margin-left: 0rem;
  width: 19rem;
  margin-bottom: 0;
}

.tutorial-btns {
	text-align: right;
	.tutorial-continue-btn {
		background: rgba(51, 105, 156, 0.65);
		border-radius: 4px;
		color: white;
	}
}

.k8s-img {
  border: 1px solid #E6E6E6;
}
