// ***********************
// Variables
// ***********************

$sless-dark-blue: #08141C;
$sless-blue: #4D8FCC;
$sless-light-blue: #EDF2F6;
$border-radius: .3rem;
$sless-text: #08141C;
$sless-font-primary: 'Open Sans', sans-serif;
$sless-font-secondary: 'Merriweather Sans', sans-serif;
$sless-shadow: 0 .2rem .5rem 0 rgba(0,0,0,0.16), 0 .2rem .10rem 0 rgba(0,0,0,0.12);
$sless-gradient-blue: linear-gradient(#165d9e, #4d8fcc);
$sless-gradient-blue-hover: linear-gradient(#145088, #3e79af);