// ***********************
// Variables
// ***********************

$sless-dark-blue: #08141C;
$sless-blue: #4D8FCC;
$sless-light-blue: #EDF2F6;
$border-radius: 4px;
$sless-text: #08141C; //#19242d;
$sless-font-primary: 'Open Sans', sans-serif;
$sless-font-secondary: 'Merriweather Sans', sans-serif;
