body{
	background-color: #fdfdfd;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.8rem;
    position: relative;
    font-weight: 300;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8rem;
  color: #1a2226;
  font-weight: 300;
  position: relative;
  height: 100%;
}

ul.sidebar-nav li{
	list-style: none;
	margin-bottom: 4px;
    padding: 2px 4px;
    border-radius: 3px;
    transition: all 0.4s;
}
ul.sidebar-nav li a {
    color: #8c8c8c;
    padding: 2px 4px;
}
li {
    position: relative;
}
 
/*TODO ARROW*/
.subitem-arrow:before {
    content: "\f105";
    font-family: FontAwesome;
}
.sub-item{
    font-size: 95%;
    padding: 2px 4px;
    border-radius: 3px;
}
ul.sidebar-nav li a{
	transition: all 0.4s;
	text-decoration: none;
	border-radius: 3px;
	display: block;
}
ul.sidebar-nav li a:hover {
	background-color: #F1F1F1;	
}

#cybr-nav{
	background-color: #0B243D;
	margin: 0;
	width: 100%;
	bottom: 0;
	min-height: 80px;
}
.navbar-img{
    margin: 12px 0 0 0;
    height: 52px;
    padding: 10px;
    margin-left: 40px;
}
